

.company-container .row{
    margin-top: 4%;
    margin-bottom: 4%;
}

.container {
    animation-name: slidein;
    animation-duration: .9s;
}


.alert {
    animation-name: slidein;
    animation-duration: .9s;
    display: block;
}
