<div class="modal-header">
  <h4 class="modal-title">My Profile</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container company-container">
    <div class="row">
      <div class="col col-md-3"></div>
      <div class="col col-md-3">
        ID:
      </div>
      <div class="col col-md-3">
        <input type="text" value="{{company.id}}" readonly disabled>
      </div>
      <div class="col col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-3"></div>
      <div class="col col-md-3">
        Name:
      </div>
      <div class="col col-md-3">
        <input type="text" value="{{company.compName}}" readonly disabled>
      </div>
      <div class="col col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-3"></div>
      <div class="col col-md-3">
        Password:
      </div>
      <div class="col col-md-3">
        <input type="text" value="{{company.password}}" readonly disabled>
      </div>
      <div class="col col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-3"></div>
      <div class="col col-md-3">
        Email:
      </div>
      <div class="col col-md-3">
        <input type="text" value="{{company.email}}" readonly disabled>
      </div>
      <div class="col col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-3"></div>
      <div class="col col-md-3">
        Expenses:
      </div>
      <div class="col col-md-3">
        <input type="text" value="{{income}}" readonly disabled>
      </div>
      <div class="col col-md-3">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="container">
    <div class="row">
      <div class="col col-md-4"></div>
      <div class="col col-md-4"></div>
      <div class="col col-md-4">
        <button type="button" class="btn btn-outline-danger" (click)="modalRef.hide()">Close</button>
      </div>
    </div>
  </div>
</div>