<div class="overlay">
        <div class="container workgroup">
                <div class="row">
                    <div class="col col-md-6">
                        <button class="btn btn-outline-dark" (click)="coupons = false; openModal(viewSpecificCoupon)">
                            View Specific Coupon
                        </button>
                    </div>
                    <div class="col col-md-6">
                        <button class="btn btn-outline-dark" (click)="openCoupons()">
                            Coupons View
                        </button>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="col col-md-12">
        
                    </div>
                </div>
            </div>
    <app-customer-coupon-table *ngIf="coupons" [coupons]="couponsToSend"> </app-customer-coupon-table>

    <ng-template #viewSpecificCoupon>
        <app-customer-coupon-view [modalRef]="modalRef" (sendCoupons)="loadCoupons($event)"></app-customer-coupon-view>
    </ng-template>
</div>